.pagination{

  display: flex;
  max-width: 50%;
  align-self: center;

}

boxShadowNone{
    box-shadow: none;
}

.buttonPagination{
    min-width: 10%;
    margin:0 0.5em;
}

#paginationForm {
    display:flex;
    padding-top: 40px;
}

input:disabled.buttonPagination {
    color: greytext;
    display: none;
}

#actualPageButton {
    background-color: white;
}