html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,address,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin:0;
padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:
transparent;}
body{line-height:1.5;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
/* remember to define focus styles! */
:focus{outline:0;}
/* remember to highlight inserts somehow! */
ins{text-decoration:none;}
del,s{text-decoration:line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table{border-collapse:collapse;border-spacing:0;}
.wrapperÂ {
  display: grid;
}
.position-logo {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}
.position-logo img {
  margin: auto;
  width: 135px;
  height: 180px;
  z-index: 1;
  opacity: 0.1;
}
body {
  width: 100%;
  height: 100%;
  line-height: 2;
  font-size: 16px;
  background: url(../img/01.jpg) no-repeat fixed center;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

a {

  text-decoration: none;
  font-weight: bold;
  color: rgb(205, 44, 58);
  cursor: auto;
}

.side {
  position: fixed;
  width: 50%;
  top: 0;
  text-align: center;
  height: 100%;
  transition: background 0.8s ease 0s;
  -webkit-transition: background 0.8s ease 0s;
  -moz-transition: background 0.8s ease 0s;
  -o-transition: background 0.8s ease 0s;
  -ms-transition: background 0.8s ease 0s;
}
@media (max-width: 600px) {
  .side{
    position: relative;
    height: 300px;
    width: 100%;
  }
}

.side.left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  height:100vh;
  left: 0;
  color: #000;
  background: rgba(0, 0, 0, 0.50);
}

.side.left:hover {
    background: rgba(36, 171, 170, 0.6);
}

.side.left .inner-left .inner-right{
  background: rgba(0, 0, 0, 0.39);
}

.side.right {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-self: center;
  align-self: center;
  height: 100vh;
  right: 0;
  color: #fff;
  background: rgba(193, 23, 23, 0.19);
}


.side.right:hover {
    background: rgba(205, 44, 58, 0.63);
}

.side.right:hover .inner-left .inner-right{
  background: rgba(0, 0, 0, 0.39);
}

.inner-left {
  display: flex;
  justify-self: center;
  margin: auto;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  background: rgba(0, 0, 0, 0.49);
  transition: background 0.8s ease 0s;
  -webkit-transition: background 0.8s ease 0s;
  -moz-transition: background 0.8s ease 0s;
  -o-transition: background 0.8s ease 0s;
  -ms-transition: background 0.8s ease 0s;
}

.inner-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.49);
  transition: background 0.8s ease 0s;
  -webkit-transition: background 0.8s ease 0s;
  -moz-transition: background 0.8s ease 0s;
  -o-transition: background 0.8s ease 0s;
  -ms-transition: background 0.8s ease 0s;
}

.box-line {
  border: 3px solid #000000;
  color: #000000;
  letter-spacing: 2px;
  padding: 10px 30px;
  display: inline-block;
  margin-bottom: 20px;
}

.side.left .box-line {
  border: 2px solid #fff;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.side.right  .box-line {
  border: 2px solid #fff;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}


@-webkit-keyframes hvr-icon-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-icon-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.hvr-icon-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-buzz-out:before {
  content: "\f023";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-buzz-out:hover:before, .hvr-icon-buzz-out:focus:before, .hvr-icon-buzz-out:active:before {
  -webkit-animation-name: hvr-icon-buzz-out;
  animation-name: hvr-icon-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Formulaire d'inscription */

.forms {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
  width: 100%
}

.forms .input {
position: relative;
}

.forms .icon-right {
  border-left: 1px solid rgba(0, 188, 212, 0.25);
  right: 3px;
}

.forms .icon-left, .forms .icon-right {
  color: rgba(0, 188, 212, 0.62);
  font-size: 17px;
  height: 38px;
  line-height: 38px !important;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 42px;
  background-color: white;
}

.forms label {
  font-weight: normal;
}

.forms .icon-right ~ input, .forms .icon-right ~ textarea {
padding-right: 58px;
}

.forms .input textarea {
height: 112px;
overflow: auto;
min-height: 52px;
resize: vertical;
}

.forms .unit {
  position: relative;
  width: 210px;
}

.forms input[type="text"], .forms input[type="password"], .forms input[type="email"], .forms input[type="submit"], .forms input[type="search"], .forms input[type="url"], .forms textarea, .forms select {
  font-family: 'Lato', sans-serif;
  background: rgb(255, 255, 255);
  border: 2px solid rgba(0, 150, 136, 0.20);
  border-radius: 3px;
  color: rgb(129, 129, 129);
  display: block;
  font-size: 15px;
  height: 48px;
  padding: 10px 15px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  -webkit-transition: all.4s;
  -moz-transition: all.4s;
  -ms-transition: all.4s;
  -o-transition: all.4s;
  transition: all.4s;
}

.forms input:focus {

  border: 2px solid #009688;
}

.form-button {
  font-family: 'Lato', sans-serif;
  background: #009688;
  border: 2px solid rgba(0, 150, 136, 0.20);
  border-radius: 3px;
  color: rgb(255, 255, 255);
  display: block;
  font-size: 16px;
  height: 48px;
  padding: 0 9px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  -webkit-transition: all.4s;
  -moz-transition: all.4s;
  -ms-transition: all.4s;
  -o-transition: all.4s;
  transition: all.4s;
}

.forms li > p {

  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  font-size: 18px;
  color: white;
}

.forms li p > span {

  font-weight: bold;
  color: #009688;
}

.leftlabel::selection {

  display:none;
}
.form-button:hover, .form-button:focus, .form-button:active {
background-color: #fff;
  color: #009688;
}

.form-button:hover:before, .form-button:focus:before, .form-button:active:before {
  color: #009688;
}

.geek
{
display: block;
}
/* // Formulaire d'inscription */

ul {
    list-style: none;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

li {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px;
}

.errorMsg li {
    position: absolute;
    color: #D8000C;
    background-color: #FFBABA;
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px;
    top: 10%;
    z-index: 1;
}

.end-form {

  display: block;
  text-align: left;
  margin-top: 0;
  margin-left: 37px;

}

#permitted {

display:none;

}

.side-label {
  font-size: 15px;
  font-style: italic;
  cursor: pointer;
  background: rgb(255, 255, 255);
  border: 2px solid rgba(0, 150, 136, 0.20);
  border-radius: 3px;
  color: rgb(118, 118, 118);
  height: 48px;
  padding: 7px 27px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  -webkit-transition: all.4s;
  -moz-transition: all.4s;
  -ms-transition: all.4s;
  -o-transition: all.4s;
  transition: all.4s;
}

.side-label::before, .side-label::after {
  content: '';
  position: absolute;
  left: 10px;
}

.side-label::before {
  width: 12px;
  height: 12px;
  top: 18px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0px 0px 1px 0px rgb(0, 0, 0);
  border-radius: 50%;
  background-color: transparent;
}

input:focus + .side-label::before {
  border-color: #9ab593;
}

.side-label::after {
  display: none;
  width: 12px;
  height: 12px;
  margin: 1px;
  top: 18px;
  background-color: #009688;
  box-shadow: 0px 0px 1px 0px rgb(0, 0, 0);
  border-radius: 50%;
}

input:checked + .side-label::after {
  display: block;
}

#permitted:checked ~ .blocked {
  display: none;
}

#permitted:checked ~ button {
  display: block;
}

/*input[type=checkbox] { display:none; }*/ /* to hide the checkbox itself */
input[type=checkbox] + .leftlabel:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + .leftlabel:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + .leftlabel:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + .leftlabel:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + .leftlabel:before { letter-spacing: 5px; } /* allow space for check mark */

/*input[type=radio] { display:none; } *//* to hide the checkbox itself */
input[type=radio] + .leftlabel:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=radio] + .leftlabel:before { content: "\f096"; } /* unchecked icon */
input[type=radio] + .leftlabel:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=radio]:checked + .leftlabel:before { content: "\f046"; } /* checked icon */
input[type=radio]:checked + .leftlabel:before { letter-spacing: 5px; } /* allow space for check mark */

#geekoui #geeknon {
display: inline-block;

}

@media screen and (max-width: 640px) {
  .position-logo {
    display:none;
  }
}
