@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
  font-size: 16px;
  background-color: rgba(19, 0, 90, 0.73);
  background: url(../img/01.jpg) no-repeat fixed center;
  background-size: cover;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

form {
  position: relative;
  padding: 20px;
  background-color: #ffffff;
  margin-top: 20px;
  box-shadow: 0px 0px 1px 0px rgb(107, 124, 135);
  border-radius: 10px 10px 1px 2px;
}

nav {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
  text-align: center;
  z-index: 9999;
  box-shadow: 0 1px 1px #1e323d;
}

h1 {
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #adadae;
  color: #5c5d5e;
  font-size: 1.1em;
}

aside {

  display: flex;
  float: left;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px;

}


  .picture-profil-min {

    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 10px;
    vertical-align: middle;

  }



.container {

  display: flex;
  flex-flow: row nowrap;
  background-color: rgb(241, 241, 241);
  width: 100%;

}

.container > section {

  display: flex;
}

.tree {
  padding: 20px 0;
}

.tree::after {
  content: '';
  display: block;
  clear: left;
}

.tree div {
  clear: left;
}

.sub {
  display: none;
  float: left;
  margin-left: 40px;
}

.sub > a {
    margin-left: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

input:checked ~ .sub {
  display: block;
}

input[type="reset"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #e8ebed;
  background-color: #6b7c87;
  font-family: inherit;
  font-size: .9em;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="reset"]:focus {
  outline: none;
  box-shadow: 0 0 0 4px #b9c3c9;
}

/* Font-Awesome */

.about::before {

content: "\f10e";

}

.register::before {

content: "\f073";

}

.head {

  position: absolute;
  padding: 5px 0;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(219, 219, 219);
  text-align: center;
  font-size: 16px;
  color: #393939;
  border-radius: 10px 10px 1px 2px;
  box-shadow: 0px 0px 1px 0px rgb(107, 124, 135);
}

.head-second {

  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: rgb(219, 219, 219);
  text-align: center;
  font-size: 13px;
  color: #393939;
  padding-top: 4px;
  padding-bottom: 4px;

}

.profil {

}

.hidden-tree {
    display: flex;
    flex-flow: column nowrap;
}

.form-ul {

display: flex;

}

.form-ul-warp {

  display: flex;
  flex-direction: column;

}

.form-lb ul, .form-lb2 ul{
    list-style: none;
}

.form-lb2 {
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
  justify-content: center;
  background: url(../img/09.jpg) no-repeat fixed center;
  background: -ms-linear-gradient(top, #f2e3d2, #c9b7a2);
  background: -o-linear-gradient(top, #f2e3d2, #c9b7a2);
  background-image: -ms-linear-gradient(top, #f2e3d2 0%, #c9b7a2 100%);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  min-width: 400px;
  width: 800px;
  line-height: 1.4em;
  text-align: center;
  padding: 20px;
  z-index: 1000;
}

.form-lb-button-1 {

  width: 100%;
  height: 30px;
  margin-top: 227px;
  margin-bottom: 3px;

}

.form-lb-button-2 {

  width: 100%;
  height: 30px;

}

.list {

float: right;

}

.form-list img {
    border-radius: 100%;
    height: 25px;
    width: 25px;
    float: left;
}

.wall, .wall aside, .wall aside form {

    width: 100%;
    justify-content: center;
}


.wall aside {

    width: 100%;

}

.form-profil {

  width: 200px;

}

.form-profil-second {

  display: flex;
  flex-flow: column nowrap;
  width: 200px;
  text-align: right;
  position: relative;
  padding: 20px;
  background-color: #ffffff;
  margin-top: 20px;
  box-shadow: 0px 0px 1px 0px rgb(107, 124, 135);
  border-radius: 10px 10px 1px 2px;

}

.form-profil-second a {
    align-self: center;
    margin: 0;
    padding: 5px;
}

.form-profil-second textarea {
    margin: 10% 0;
    font-size: 1em;
}

.form-list {

width: 200px;

}

.form-list a {
    width : 100%;
    margin: 2px 0;
}

.form-wall {

    /*padding-top: 40px;*/
    margin-top: 0;
    border-radius: 0;

}


.commentSubmit {
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 5em;
}

.commentSubmit textarea{
    height:100%;
    width: 100%;
    padding: 0;
}

.commentSubmit li:first-child {
    height: 100%;
    width: 86%;
}

.commentSubmit li:last-child {
    width: 9%;
    height: 100%;
}

.commentSubmit button {
    height: 100%;
    width: 100%;
}

.footer-basic-centered{
  background-color: #f1f1f1;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.28);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;
  padding: 45px;
  font-family: 'Lato', sans-serif;
}

.footer-basic-centered .footer-company-motto{
  color: #8d9093;
  font-size: 24px;
  margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}


.logo .logo-link {
    float: left;
}

input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.leftlabel, a {
  display: block;
  float: left;
  clear: left;
  position: relative;
  margin-left: 25px;
  padding: 5px;
  border-radius: 5px;
  color: #5c5d5e;
  text-decoration: none;
  cursor: pointer;
}
.colorLabel, a {
  display: block;
  float: left;
  clear: left;
  position: relative;
  margin-left: 25px;
  padding: 5px;
  border-radius: 5px;
  color: #5c5d5e;
  text-decoration: none;
  cursor: pointer;
}
.leftlabel::before, a::before {
  display: block;
  position: absolute;
  top: 6px;
  left: -25px;
  font-family: 'FontAwesome';
}

.leftlabel::before {
  content: '\f07b'; /* closed folder */
}

input:checked + .leftlabel::before {
  content: '\f07c'; /* open folder */
}

a::before {

}

input:focus + .leftlabel, a:focus {
  outline: none;
}

.flex-right {

  display: flex;
  flex-direction: column;

}

.color-change {

  text-align: center;
  vertical-align: middle;
  height: 1em;
  line-height: 2em;
  white-space: nowrap;
}

.color {

display: inline-block;

}

.color-second {

  display: block;
  width: 12px;
  height: 12px;
  background-color: #444444;
  display: block;
}

.color-three {

  display: block;
  width: 12px;
  height: 12px;
  background-color: #2D9083;
  display: block;
}

.color-four {

  display: block;
  width: 12px;
  height: 12px;
  background-color: #b73232;
  display: block;
}

.color-five {

  display: block;
  width: 12px;
  height: 12px;
  background-color: #448e4a;
  display: block;
}

.color-input[type="textarea"] {
  display: block;
  width: 100%;
  height: 45px;
  border: none;
  color: #0c65a0;
  background-color: #ffffff;
  box-shadow: 0px 0px 1px 0px rgb(107, 124, 135);
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: inherit;
  font-size: .9em;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}


textarea {
  font-size: 18px;
  min-height: 1em;
  min-width: 95%;
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  text-shadow: 0px 0px 0px #000;
  -webkit-text-fill-color: transparent;
  color: black;
  resize: none;
  font-family: 'Lato', sans-serif;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ccc;
    text-shadow: none;
    -webkit-text-fill-color: initial;
}

.comment {

display: block;
list-style: none;

}

.second-comment {

display:inline-block;

}


.color-check {
  display: inline-flex;
  padding-top: 20px;
  margin-left: -5px;
}

.color-input {
  position: absolute;
  left: -9999px;
}


.color-input[target=_blank] {
  position: absolute;
  left: -9999px;
}

.color-label-choice {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  border-radius: 100px;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
  padding: 0;
  margin: 0 auto;
  width: 10px;
  height: 10px;
}

.color-label-choice::active {
	background-color: none;
}
.color-label-choice::before, .color-label-purple::before, .color-label-black::before, .color-label-red::before, .color-label-blue::before, .color-label-green::before {
	content: none;
}

.color-label-purple {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  border-radius: 50%;
  color: #fff;
  background-color: #463878;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
  width: 5px;
  height: 5px;
}

.color-label-black {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.73);
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
   width: 5px;
  height: 5px;
}

.color-label-red {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(146, 6, 6, 0.73);
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
  width: 5px;
  height: 5px;
}

.color-label-blue {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(30, 151, 181, 0.73);
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
  width: 5px;
  height: 5px;
}

.color-label-green {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(113, 154, 33, 0.73);
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
  width: 5px;
  height: 5px;
}

.color-label:hover, .color-input:focus + .color-label {
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

.color-input:checked + .color-label {
  background-color: #ab576c;
}

.color-input:checked + .color-label::before {
  background-color: #fff;
}

.overlaylight {
  background-color: red;
}
.overlay:hover {

display:none;

}

.overlay
{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 999;

}

.overlay a
{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.overlay_container img
{
  background: #ffffff;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.overlay:target {
    display: flex;
    justify-content: space-around;
}

.overlay-close {
    background: rgba(0,0,0,0.7);
    height:100%;
    width: 100%;
    top: 0;
    position: absolute;
    z-index: 998;
    cursor: pointer;
}

.picture-profil-cadre {
}

.picture-profil {
    background-color:transparent;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    box-shadow: 1px 0px 3px 2px #5c5d5e;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
     margin-bottom: 15px;
}

.picture-profil2 {
      margin: 0 auto;
      display: block;
      width: 125px;
      height: 125px;
      border-radius: 50%;
      margin-top: 30px;
      margin-bottom: 15px;
      box-shadow: 1px 0px 3px 2px #5c5d5e;
}

.picture-profil::before {
    box-shadow: 1px 0 3px 2px #5c5d5e;
}

input[type=file] {
    display: none;
}

.pictureProfilForm {

  filter: grayscale(0%);
  display: flex;
  justify-content: center;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  margin: 15% 12%;
  align-self: center;
  box-shadow: 1px 0px 3px 2px #5c5d5e;
  transition: all 1s;

}

.pictureProfilForm span {

    display: none;
    transition: all 1s;

}

.pictureProfilForm:hover {
    filter: grayscale(100%);
}

.pictureProfilForm:hover span{

    display:flex;
    align-self: center;
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px black;

}

.pictureProfilForm::before {

    content: none;
}

.position-logo {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  vertical-align: middle;
  color: #fff;
  background-image: url(../img/logo.png);
  background-size: 90px;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

fieldset {

  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.37);
  padding: 2em; /* 32/16 */
  background-color: rgba(0, 188, 212, 0.24);
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 17px;

}

legend {

  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 3px;
  padding: 10px;

}

img,
figure {
	max-width: 100%;
	height: auto;
}

.wrap-figure {
	margin: 0 auto;
	padding: 0 0 5px;
	text-align: center;
}

figure {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	width: 175px;
	margin: 0 20px;
}

figcaption {
	position: absolute;
	width: 100%;
	height: auto;
	top: auto;
	left: 0;
	bottom: 0;
	opacity: 0;
	background: #f06b50;
	color: #fff;
	font-size: 90%;
	padding: 6px 4px;
	text-align: center;
	-webkit-transform: translateY(100%);
			transform: translateY(100%);
	transition: -webkit-transform .4s, opacity .1s .3s;
	transition: 		transform .4s, opacity .1s .3s;
}

figure:hover figcaption{
	opacity:0.9;
	-webkit-transform:translateY(0);
	transform:translateY(0);
	transition: -webkit-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.colorGamepad1 {
  color: green;
}
.colorGamepad2 {
  color: yellow;
}
.colorGamepad3 {
  color: red;
}
.right-label {
  display: flex;
  width: 0em;
}
.test13 {
  display: table;
}
.gamepadbouton {
  text-align: center;
  margin: 0 auto;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
.filtreEcho {
  display: table;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
