h1, p, a {
  color: white;
  text-align: center;
  text-shadow: 2px 4px steelblue;
}
h1 {
  margin-top: 2em;
  font-size: 5em;
}
p {
  font-size: 40px;
  font-weight: bold;
}
a {
  font-size: 18px;
}
a:hover {
  color: 2px 2px blue;
  text-align: center;
}
body {
  background: url(../img/matrix.png) no-repeat;
  background-size: cover;
}
